---
layout: default
---

<div class="tag">

  {%- if site.tags.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Tags" }}</h2>

  <ul class="tags">
  {% for tag in site.tags %}
    <li>
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <a name="{{ tag_name }}" href="#{{ tag_name | slugize }}">[{{ tag_name }}]</a>
      {%- if forloop.last == false -%}&nbsp;{%- endif -%}
    </li>
  {% endfor %}
  </ul>

  <ul class="post-list">
  {% for tag in site.tags %}
    <li>
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <div id="{{ tag_name | slugize }}"></div>
      <h3 class="tag-head">{{ tag_name }}</h3>
      {% for post in site.tags[tag_name] %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      {% endfor %}
    </li>
  {% endfor %}
  </ul>
  {%- endif -%}

</div>
